body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightslategray;
}

header {
    background-color: lightseagreen;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0px 4px 0px 32px;
}

#left-header {
    display: flex;
    justify-content: flex-start;
}
#right-header {
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: royalblue;
}

#logo {
    margin-top: 25px;
    background-color: lightseagreen;
}

#search-bar {
    margin-top: 30px;
    background-color: lightseagreen;
}

footer {
    background-color: lightseagreen;
    color: black;
}