body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 41px;
    background-color: lightslategray;
}

header {
    background-color: lightseagreen;
}

#logo {
    margin-top: 25px;
    background-color: lightseagreen;
}

#search-bar {
    margin-top: 30px;
    background-color: lightseagreen;
}

footer {
    background-color: lightseagreen;
}